.about-us-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.about-us-sec1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #333a73;
}
.about-us-about-us-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about-us-text {
  color: #ffffff;
  font-size: 2rem;
}
.about-us-about-us-description {
  color: #ffffff;
  font-size: 22px;
  margin-top: var(--dl-space-space-twounits);
  text-align: left;
  font-family: "Courier New";
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}
.about-us-button {
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.about-us-button:hover {
  transform: scale(1.02);
}
.about-us-image {
  width: 640px;
  height: 400px;
  margin-top: var(--dl-space-space-twounits);
  border-color: #ffffff;
  border-width: 10px;
  border-radius: 32px;
}
@media(max-width: 1600px) {
  .about-us-sec1 {
    height: 100%;
    background-color: #333a73;
  }
  .about-us-text {
    color: rgb(255, 255, 255);
    font-size: 2rem;
  }
  .about-us-about-us-description {
    color: rgb(255, 255, 255);
    font-size: 22px;
    align-self: flex-start;
    text-align: left;
    font-family: Courier New;
  }
  .about-us-button {
    font-weight: 700;
  }
  .about-us-image {
    width: 543px;
    height: 295px;
    border-radius: 16px;
  }
}
@media(max-width: 1200px) {
  .about-us-sec1 {
    height: 100%;
  }
  .about-us-text {
    color: rgb(255, 255, 255);
    font-size: 1.75rem;
  }
  .about-us-about-us-description {
    color: rgb(255, 255, 255);
  }
  .about-us-image {
    width: 485px;
    height: 285px;
  }
}
@media(max-width: 991px) {
  .about-us-sec1 {
    flex-direction: column;
  }
  .about-us-about-us-container {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .about-us-text {
    text-align: center;
  }
  .about-us-about-us-description {
    text-align: left;
  }
  .about-us-image {
    width: 508px;
  }
}
@media(max-width: 767px) {
  .about-us-sec1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-us-about-us-description {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .about-us-sec1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-us-about-us-container {
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-us-button {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
}
