.contact-us-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.contact-us-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contact-us-image {
  width: 25rem;
  object-fit: cover;
}
.contact-us-container1 {
  display: flex;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
}
.contact-us-text {
  font-size: 3rem;
}
.contact-us-text01 {
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.contact-us-btn-group {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.contact-us-button {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.contact-us-button:hover {
  transform: scale(1.02);
}
.contact-us-button1 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.contact-us-button1:hover {
  transform: scale(1.02);
}
@media(max-width: 1600px) {
  .contact-us-image {
    width: 503px;
  }
  .contact-us-text {
    font-size: 3rem;
  }
  .contact-us-text01 {
    font-weight: 600;
  }
  .contact-us-text02 {
    font-size: 22px;
  }
  .contact-us-text03 {
    font-family: Noto Sans;
  }
  .contact-us-text04 {
    font-family: Noto Sans;
  }
  .contact-us-text06 {
    font-size: 22px;
  }
  .contact-us-text07 {
    font-weight: 700;
  }
  .contact-us-text12 {
    font-style: normal;
    font-weight: 700;
  }
  .contact-us-text17 {
    font-size: 22px;
  }
}
@media(max-width: 1200px) {
  .contact-us-hero {
    height: 100%;
    max-width: 100%;
  }
  .contact-us-image {
    width: 391px;
  }
  .contact-us-text {
    font-size: 2.25rem;
  }
  .contact-us-text01 {
    font-weight: 600;
  }
  .contact-us-text06 {
    font-size: 22px;
  }
  .contact-us-text07 {
    font-weight: 700;
  }
  .contact-us-text12 {
    font-style: normal;
    font-weight: 700;
  }
  .contact-us-btn-group {
    display: none;
  }
}
@media(max-width: 991px) {
  .contact-us-hero {
    padding: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .contact-us-image {
    order: 2;
  }
  .contact-us-container1 {
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .contact-us-text {
    text-align: center;
  }
  .contact-us-text01 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .contact-us-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-us-image {
    width: 80%;
  }
}
@media(max-width: 576px) {
  .contact-us-text06 {
    width: 100%;
  }
  .contact-us-text17 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .contact-us-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .contact-us-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-us-btn-group {
    flex-direction: column;
  }
  .contact-us-button1 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
}
