.graphic-design-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.graphic-design-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: 100%;
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.graphic-design-image {
  width: 25rem;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 10px;
  border-radius: 32px;
}
.graphic-design-container01 {
  width: 75%;
  display: flex;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
}
.graphic-design-text {
  width: 100%;
  font-size: 3rem;
}
.graphic-design-text01 {
  font-size: 26px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
}
.graphic-design-btn-group {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.graphic-design-button {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.graphic-design-button:hover {
  transform: scale(1.02);
}
.graphic-design-text02 {
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}
.graphic-design-pricing {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  justify-content: center;
  background-color: #f7f6bb;
}
.graphic-design-text16 {
  color: #ffffff;
  width: 100%;
  font-size: 50px;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  animation-name: rubberBand;
  padding-bottom: var(--dl-space-space-threeunits);
  animation-delay: 0s;
  background-image: linear-gradient(to right, #c02425 0%, #f0cb35 100%);
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.graphic-design-pricing1 {
  width: 100%;
  display: flex;
  background-size: cover;
  justify-content: center;
  background-image: linear-gradient(to right, #c02425 0%, #f0cb35 100%),url('https://images.unsplash.com/photo-1503149779833-1de50ebe5f8a?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE2fHxzd2lzcyUyMGNoZWVzZSUyMHBsYW50fGVufDB8fHx8MTYyNTg0MTU0Mg&ixlib=rb-1.2.1&w=1500');
  background-position: center;
}
.graphic-design-container02 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: 100%;
  align-items: center;
  background-size: cover;
  justify-content: center;
}
.graphic-design-pricing-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: 26%;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
  border-top-width: 20px;
}
.graphic-design-pricing-card:hover {
  transform: scale(1.02);
}
.graphic-design-container03 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.graphic-design-text17 {
  font-size: 40px;
  font-weight: 700;
}
.graphic-design-container04 {
  display: flex;
  font-size: 28;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.graphic-design-text18 {
  margin-bottom: var(--dl-space-space-unit);
}
.graphic-design-text19 {
  margin-bottom: var(--dl-space-space-unit);
}
.graphic-design-text20 {
  margin-bottom: var(--dl-space-space-unit);
}
.graphic-design-text21 {
  margin-bottom: var(--dl-space-space-unit);
}
.graphic-design-text22 {
  margin-bottom: var(--dl-space-space-unit);
}
.graphic-design-text23 {
  margin-bottom: var(--dl-space-space-unit);
}
.graphic-design-button1 {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.graphic-design-pricing-card1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: 26%;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
  border-top-width: 20px;
}
.graphic-design-pricing-card1:hover {
  transform: scale(1.02);
}
.graphic-design-container05 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.graphic-design-text24 {
  font-size: 40px;
  font-weight: 700;
}
.graphic-design-container06 {
  display: flex;
  font-size: 28;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.graphic-design-text25 {
  margin-bottom: var(--dl-space-space-unit);
}
.graphic-design-text28 {
  margin-bottom: var(--dl-space-space-unit);
}
.graphic-design-text29 {
  margin-bottom: var(--dl-space-space-unit);
}
.graphic-design-text30 {
  margin-bottom: var(--dl-space-space-unit);
}
.graphic-design-text31 {
  margin-bottom: var(--dl-space-space-unit);
}
.graphic-design-text32 {
  margin-bottom: var(--dl-space-space-unit);
}
.graphic-design-text33 {
  margin-bottom: var(--dl-space-space-unit);
}
.graphic-design-button2 {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.graphic-design-pricing-card2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: 26%;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-white);
  border-top-width: 20px;
}
.graphic-design-pricing-card2:hover {
  transform: scale(1.02);
}
.graphic-design-container07 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.graphic-design-text34 {
  font-size: 40px;
  text-align: left;
  font-weight: 700;
}
.graphic-design-text35 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.graphic-design-container08 {
  display: flex;
  font-size: 28;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.graphic-design-text38 {
  margin-bottom: var(--dl-space-space-unit);
}
.graphic-design-text39 {
  margin-bottom: var(--dl-space-space-unit);
}
.graphic-design-text40 {
  margin-bottom: var(--dl-space-space-unit);
}
.graphic-design-text41 {
  margin-bottom: var(--dl-space-space-unit);
}
.graphic-design-text42 {
  margin-bottom: var(--dl-space-space-unit);
}
.graphic-design-text43 {
  margin-bottom: var(--dl-space-space-unit);
}
.graphic-design-button3 {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.graphic-design-pricing2 {
  width: 100%;
  display: flex;
  background-size: cover;
  justify-content: center;
  background-image: linear-gradient(to right, #c02425 0%, #f0cb35 100%),url('https://images.unsplash.com/photo-1503149779833-1de50ebe5f8a?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE2fHxzd2lzcyUyMGNoZWVzZSUyMHBsYW50fGVufDB8fHx8MTYyNTg0MTU0Mg&ixlib=rb-1.2.1&w=1500');
  background-position: center;
}
.graphic-design-container09 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: 100%;
  align-items: center;
  background-size: cover;
  justify-content: center;
}
.graphic-design-pricing-card3 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: 26%;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
  border-top-width: 20px;
}
.graphic-design-pricing-card3:hover {
  transform: scale(1.02);
}
.graphic-design-container10 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.graphic-design-text44 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 300;
}
.graphic-design-text47 {
  font-size: 40px;
  font-weight: 700;
}
.graphic-design-container11 {
  display: flex;
  font-size: 28;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.graphic-design-text48 {
  margin-bottom: var(--dl-space-space-unit);
}
.graphic-design-text49 {
  margin-bottom: var(--dl-space-space-unit);
}
.graphic-design-text50 {
  margin-bottom: var(--dl-space-space-unit);
}
.graphic-design-text51 {
  margin-bottom: var(--dl-space-space-unit);
}
.graphic-design-text52 {
  margin-bottom: var(--dl-space-space-unit);
}
.graphic-design-text53 {
  margin-bottom: var(--dl-space-space-unit);
}
.graphic-design-button4 {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.graphic-design-pricing-card4 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: 26%;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
  border-top-width: 20px;
}
.graphic-design-pricing-card4:hover {
  transform: scale(1.02);
}
.graphic-design-container12 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.graphic-design-text54 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 300;
}
.graphic-design-text57 {
  font-size: 40px;
  font-weight: 700;
}
.graphic-design-container13 {
  display: flex;
  font-size: 28;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.graphic-design-text60 {
  margin-bottom: var(--dl-space-space-unit);
}
.graphic-design-text61 {
  margin-bottom: var(--dl-space-space-unit);
}
.graphic-design-text62 {
  margin-bottom: var(--dl-space-space-unit);
}
.graphic-design-text63 {
  margin-bottom: var(--dl-space-space-unit);
}
.graphic-design-text64 {
  margin-bottom: var(--dl-space-space-unit);
}
.graphic-design-text65 {
  margin-bottom: var(--dl-space-space-unit);
}
.graphic-design-text66 {
  margin-bottom: var(--dl-space-space-unit);
}
.graphic-design-text67 {
  margin-bottom: var(--dl-space-space-unit);
}
.graphic-design-button5 {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.graphic-design-image1 {
  width: 100%;
  height: 898px;
  object-fit: cover;
}
.graphic-design-banner {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: 80%;
  align-items: center;
  justify-content: space-between;
}
.graphic-design-container14 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: space-between;
}
.graphic-design-text68 {
  font-size: 50px;
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.graphic-design-text69 {
  font-size: 28px;
  font-family: "Noto Sans";
  margin-right: var(--dl-space-space-threeunits);
}
.graphic-design-image2 {
  width: 300px;
  height: 300px;
  object-fit: cover;
  flex-shrink: 0;
  border-color: var(--dl-color-gray-black);
  border-width: 10px;
  border-radius: 32px;
}
.graphic-design-testimonial {
  width: 100%;
  display: flex;
  background-size: cover;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDIwfHx3ZWIlMjBkZXNpZ258ZW58MHx8fHwxNzA5NTMzNDkwfDA&ixlib=rb-4.0.3&w=1500");
  background-position: center;
}
.graphic-design-container15 {
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: stretch;
  justify-content: space-between;
}
.graphic-design-container16 {
  flex: 2;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
}
.graphic-design-container17 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
}
.graphic-design-image3 {
  width: 100%;
  object-fit: cover;
}
.graphic-design-container18 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media(max-width: 1600px) {
  .graphic-design-hero {
    max-width: 100%;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .graphic-design-image {
    border-color: var(--dl-color-gray-black);
    border-width: 10px;
    border-radius: 32px;
  }
  .graphic-design-container01 {
    width: 100%;
  }
  .graphic-design-text {
    font-size: 3rem;
  }
  .graphic-design-text01 {
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
  }
  .graphic-design-button {
    color: var(--dl-color-gray-white);
    background-color: var(--dl-color-gray-black);
  }
  .graphic-design-text16 {
    width: 100%;
    align-self: center;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    animation-name: pulse;
    padding-bottom: var(--dl-space-space-unit);
    animation-delay: 0s;
    animation-duration: 500ms;
    animation-direction: reverse;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
  }
  .graphic-design-text17 {
    font-size: 35px;
  }
  .graphic-design-container04 {
    font-size: 22;
  }
  .graphic-design-text24 {
    font-size: 35px;
    text-align: left;
  }
  .graphic-design-container06 {
    font-size: 22;
  }
  .graphic-design-text34 {
    font-size: 35px;
  }
  .graphic-design-container08 {
    font-size: 22;
  }
  .graphic-design-text47 {
    font-size: 35px;
  }
  .graphic-design-container11 {
    font-size: 22;
  }
  .graphic-design-text57 {
    font-size: 35px;
  }
  .graphic-design-container13 {
    font-size: 22;
  }
  .graphic-design-image1 {
    width: 100%;
    height: 791px;
  }
  .graphic-design-text69 {
    font-size: 22px;
    font-family: Noto Sans;
  }
  .graphic-design-image2 {
    border-color: var(--dl-color-gray-black);
    border-width: 10px;
    border-radius: 32px;
  }
  .graphic-design-container16 {
    height: 100%;
  }
  .graphic-design-image3 {
    width: 100%;
    height: 100%;
  }
}
@media(max-width: 1200px) {
  .graphic-design-text01 {
    font-size: 1.625rem;
  }
  .graphic-design-text17 {
    font-size: 30px;
  }
  .graphic-design-text24 {
    font-size: 30px;
  }
  .graphic-design-text34 {
    font-size: 30px;
  }
  .graphic-design-text47 {
    font-size: 30px;
  }
  .graphic-design-text57 {
    font-size: 30px;
  }
  .graphic-design-image1 {
    width: 100%;
    height: 639px;
  }
  .graphic-design-banner {
    height: 100%;
  }
  .graphic-design-text68 {
    font-weight: 600;
  }
  .graphic-design-text69 {
    font-size: 22px;
    align-self: flex-start;
    font-family: Noto Sans;
  }
  .graphic-design-image2 {
    border-color: var(--dl-color-gray-black);
    border-width: 10px;
    border-radius: 32px;
  }
}
@media(max-width: 991px) {
  .graphic-design-hero {
    padding: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .graphic-design-image {
    order: 2;
  }
  .graphic-design-container01 {
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .graphic-design-text {
    text-align: center;
  }
  .graphic-design-text01 {
    text-align: center;
  }
  .graphic-design-text02 {
    text-align: center;
    padding-left: var(--dl-space-space-fourunits);
  }
  .graphic-design-pricing-card {
    width: 100%;
    padding: var(--dl-space-space-twounits);
    max-width: 100%;
    align-items: center;
  }
  .graphic-design-text17 {
    font-size: 25px;
  }
  .graphic-design-container04 {
    font-size: 18;
  }
  .graphic-design-pricing-card1 {
    width: 100%;
    max-width: 100%;
    align-items: center;
  }
  .graphic-design-text24 {
    font-size: 25px;
  }
  .graphic-design-container06 {
    font-size: 18;
  }
  .graphic-design-pricing-card2 {
    width: 100%;
    max-width: 100%;
    align-items: center;
  }
  .graphic-design-text34 {
    font-size: 25px;
  }
  .graphic-design-container08 {
    font-size: 18;
  }
  .graphic-design-pricing-card3 {
    width: 100%;
    padding: var(--dl-space-space-twounits);
    max-width: 100%;
    align-items: center;
  }
  .graphic-design-text47 {
    font-size: 25px;
  }
  .graphic-design-container11 {
    font-size: 18;
  }
  .graphic-design-pricing-card4 {
    width: 100%;
    max-width: 100%;
    align-items: center;
  }
  .graphic-design-text57 {
    font-size: 25px;
  }
  .graphic-design-container13 {
    font-size: 18;
  }
  .graphic-design-banner {
    flex-direction: column;
  }
  .graphic-design-container14 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .graphic-design-text69 {
    text-align: center;
    margin-left: var(--dl-space-space-threeunits);
  }
  .graphic-design-image2 {
    width: var(--dl-size-size-xxlarge);
    height: var(--dl-size-size-xxlarge);
  }
  .graphic-design-container15 {
    flex-direction: column;
  }
  .graphic-design-container16 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
}
@media(max-width: 767px) {
  .graphic-design-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .graphic-design-image {
    width: 80%;
  }
  .graphic-design-container02 {
    flex-flow: column;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .graphic-design-pricing-card {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .graphic-design-pricing-card1 {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .graphic-design-container05 {
    align-self: flex-start;
    justify-content: flex-start;
  }
  .graphic-design-pricing-card2 {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .graphic-design-text34 {
    text-align: left;
  }
  .graphic-design-container09 {
    flex-flow: column;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .graphic-design-pricing-card3 {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .graphic-design-pricing-card4 {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .graphic-design-container12 {
    position: relative;
  }
  .graphic-design-text57 {
    align-self: center;
    text-align: left;
  }
  .graphic-design-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .graphic-design-text69 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .graphic-design-container15 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 576px) {
  .graphic-design-text16 {
    animation-delay: 2s;
    animation-duration: 2s;
  }
  .graphic-design-container15 {
    max-width: 100%;
  }
}
@media(max-width: 479px) {
  .graphic-design-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .graphic-design-container01 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .graphic-design-btn-group {
    flex-direction: column;
  }
  .graphic-design-text02 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .graphic-design-container02 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .graphic-design-pricing-card2 {
    margin-bottom: 0px;
  }
  .graphic-design-container09 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .graphic-design-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .graphic-design-image2 {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-xlarge);
  }
  .graphic-design-container15 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
