.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-sec1 {
  width: 100%;
  height: 752px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: linear-gradient(113.8deg, rgba(255, 76, 92, 0.8) 7.5%, rgba(255, 177, 70, 0.8) 94.47%),url("/Home/design%20graphic-1500h.jpg");
  background-position: top left,center;
}
.home-text {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
}
.home-text01 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.home-sec1-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-button {
  font-size: 0.75rem;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
}
.home-button:hover {
  transform: scale(1.02);
}
.home-button1 {
  color: var(--dl-color-gray-white);
  font-size: 0.75rem;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  background-color: transparent;
}
.home-button1:hover {
  transform: scale(1.02);
}
.home-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: 90%;
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-image {
  width: 25rem;
  object-fit: cover;
}
.home-container01 {
  width: 979px;
  display: flex;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
}
.home-text08 {
  font-size: 3rem;
}
.home-text09 {
  width: 100%;
  font-size: 30px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.home-our-missio-sec {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-container02 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text19 {
  font-size: 3rem;
}
.home-button2 {
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.home-button2:hover {
  transform: scale(1.02);
}
.home-image1 {
  width: 45rem;
  margin-top: var(--dl-space-space-twounits);
}
.home-features {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: 90%;
  flex-direction: column;
}
.home-text21 {
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-container03 {
  flex: 0 0 auto;
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  align-items: flex-start;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.home-features1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: 85%;
  flex-direction: column;
}
.home-text22 {
  width: 1358px;
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-separator {
  width: 100px;
  height: 2px;
  background-color: var(--dl-color-gray-500);
}
.home-container04 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-container05 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.home-image2 {
  width: 450px;
  height: 450px;
  object-fit: cover;
  flex-shrink: 0;
  margin-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-round);
  object-position: left;
}
.home-banner {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
}
.home-container06 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: space-between;
}
.home-text23 {
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text24 {
  margin-right: var(--dl-space-space-threeunits);
}
.home-container07 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-image3 {
  width: 300px;
  height: 300px;
  object-fit: cover;
  flex-shrink: 0;
}
.home-gallery {
  width: 100%;
  display: grid;
  padding: var(--dl-space-space-threeunits);
  grid-gap: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  grid-template-columns: 1fr 1fr 1fr;
}
.home-banner1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.home-container08 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: space-between;
}
.home-text30 {
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text31 {
  margin-right: var(--dl-space-space-threeunits);
}
.home-container09 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-button3 {
  font-size: 0.75rem;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-500);
}
.home-button3:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.home-image4 {
  width: 300px;
  height: 300px;
  object-fit: cover;
  flex-shrink: 0;
}
@media(max-width: 1600px) {
  .home-sec1 {
    background-position: top left,center;
  }
  .home-hero {
    max-width: 100%;
    background-color: #f4f1de;
  }
  .home-image {
    width: 30%;
    height: 578px;
    border-radius: var(--dl-radius-radius-radius8);
  }
  .home-container01 {
    width: 100%;
  }
  .home-text08 {
    font-size: 3rem;
    animation-name: fadeInDown;
    animation-delay: 0s;
    animation-duration: 5000ms;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }
  .home-text09 {
    width: 100%;
    font-size: 32px;
    align-self: center;
    font-style: inherit;
    font-family: PT Sans;
    font-weight: 400;
    animation-name: fadeIn;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
  }
  .home-text13 {
    font-weight: 700;
  }
  .home-our-missio-sec {
    height: 755px;
  }
  .home-text19 {
    color: #000000;
    font-size: 3rem;
  }
  .home-text20 {
    color: #000000;
    width: 100%;
    font-size: 30px;
    align-self: center;
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-button2 {
    display: none;
  }
  .home-features {
    max-width: 100%;
    background-color: #E07A5F;
  }
  .home-text21 {
    color: #ffffff;
    align-self: center;
  }
  .home-text22 {
    width: 100%;
    font-size: 45px;
    align-self: center;
    font-style: normal;
    text-align: center;
    font-weight: 700;
  }
  .home-banner {
    background-color: #3D405B;
  }
  .home-text23 {
    color: #ffffff;
    width: 100%;
    align-self: flex-start;
    text-align: left;
  }
  .home-text24 {
    color: #ffffff;
    width: 100%;
    font-size: 27px;
    font-family: Noto Sans Mono;
  }
  .home-banner1 {
    max-width: 100%;
  }
  .home-text30 {
    font-weight: 600;
  }
}
@media(max-width: 1200px) {
  .home-image {
    width: 412px;
    height: 511px;
  }
  .home-container01 {
    position: relative;
  }
  .home-text09 {
    width: 100%;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
  }
  .home-features1 {
    max-width: 90%;
  }
  .home-text22 {
    width: 100%;
  }
  .home-text23 {
    font-weight: 600;
  }
  .home-text24 {
    font-size: 27px;
  }
  .home-text25 {
    font-size: 19px;
  }
  .home-text26 {
    font-size: 19px;
  }
  .home-text27 {
    font-size: 19px;
  }
}
@media(max-width: 991px) {
  .home-sec1 {
    flex-direction: column;
  }
  .home-text {
    text-align: center;
  }
  .home-text01 {
    text-align: center;
  }
  .home-hero {
    padding: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .home-image {
    order: 2;
  }
  .home-container01 {
    width: 100%;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-text08 {
    text-align: center;
  }
  .home-text09 {
    width: 80%;
    text-align: justify;
  }
  .home-our-missio-sec {
    flex-direction: column;
  }
  .home-container02 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-text19 {
    text-align: center;
  }
  .home-image1 {
    width: 80%;
  }
  .home-text21 {
    align-self: center;
  }
  .home-container03 {
    grid-template-columns: 1fr 1fr;
  }
  .home-features1 {
    align-items: center;
  }
  .home-container04 {
    flex-direction: column;
  }
  .home-image2 {
    width: 300px;
    height: 300px;
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
  }
  .home-banner {
    flex-direction: column;
  }
  .home-container06 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-text24 {
    text-align: center;
    margin-left: var(--dl-space-space-threeunits);
  }
  .home-container07 {
    justify-content: center;
  }
  .home-image3 {
    width: var(--dl-size-size-xxlarge);
    height: var(--dl-size-size-xxlarge);
  }
  .home-gallery {
    grid-template-columns: 1fr 1fr;
  }
  .home-banner1 {
    flex-direction: column;
  }
  .home-container08 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-text31 {
    text-align: center;
    margin-left: var(--dl-space-space-threeunits);
  }
  .home-container09 {
    justify-content: center;
  }
  .home-image4 {
    width: var(--dl-size-size-xxlarge);
    height: var(--dl-size-size-xxlarge);
  }
}
@media(max-width: 767px) {
  .home-sec1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-image {
    width: 80%;
  }
  .home-container01 {
    width: 100%;
  }
  .home-text09 {
    width: 70%;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
  }
  .home-our-missio-sec {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-features1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text22 {
    text-align: center;
  }
  .home-container04 {
    flex-direction: column;
  }
  .home-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text24 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .home-gallery {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-banner1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text31 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 576px) {
  .home-sec1 {
    width: 100%;
    padding: var(--dl-space-space-twounits);
    align-self: flex-start;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-sec1-btn-group {
    flex-direction: column;
  }
  .home-button1 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .home-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container01 {
    width: 100%;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text08 {
    font-size: 3rem;
  }
  .home-text09 {
    width: 100%;
  }
  .home-features {
    width: 100%;
    max-width: 90%;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container03 {
    grid-gap: var(--dl-space-space-halfunit);
  }
  .home-features1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container05 {
    grid-template-columns: 1fr;
  }
  .home-image2 {
    width: 250px;
    height: 250px;
  }
  .home-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-text24 {
    width: 90%;
    text-align: justify;
  }
  .home-container07 {
    align-items: center;
    flex-direction: column;
  }
  .home-image3 {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-xlarge);
  }
}
@media(max-width: 479px) {
  .home-our-missio-sec {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container02 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-button2 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .home-gallery {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-banner1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container09 {
    align-items: center;
    flex-direction: column;
  }
  .home-button3 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .home-image4 {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-xlarge);
  }
}
