.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-sec1 {
  width: 100%;
  height: 752px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: linear-gradient(113.8deg, rgba(255, 76, 92, 0.8) 7.5%, rgba(255, 177, 70, 0.8) 94.47%),url("/Home/design%20graphic-1500h.jpg");
  background-position: top left,center;
}
.home-text {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
}
.home-text01 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.home-sec1-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-button {
  font-size: 0.75rem;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
}
.home-button:hover {
  transform: scale(1.02);
}
.home-button1 {
  color: var(--dl-color-gray-white);
  font-size: 0.75rem;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  background-color: transparent;
}
.home-button1:hover {
  transform: scale(1.02);
}
.home-our-missio-sec {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #FAEED1;
}
.home-banner {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.home-text08 {
  font-size: 3rem;
  text-align: center;
}
.home-text09 {
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text13 {
  font-size: 28;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-button2 {
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.home-button2:hover {
  transform: scale(1.02);
}
.home-image {
  width: 45rem;
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.home-text14 {
  width: 100%;
  font-size: 36;
  align-self: center;
  margin-top: var(--dl-space-space-fourunits);
  text-align: center;
}
.home-blog {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
}
.home-container1 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
}
.home-banner1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #3D405B;
}
.home-container2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: space-between;
}
.home-text15 {
  color: #ffffff;
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text16 {
  color: #ffffff;
  margin-right: var(--dl-space-space-threeunits);
}
.home-container3 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-image1 {
  color: var(--dl-color-gray-black);
  width: 300px;
  height: 300px;
  object-fit: cover;
  flex-shrink: 0;
}
.home-portfolio-sect {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text22 {
  font-size: 60px;
  margin-top: var(--dl-space-space-threeunits);
  font-weight: 700;
}
.home-gallery {
  width: 100%;
  display: grid;
  padding: var(--dl-space-space-threeunits);
  grid-gap: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  grid-template-columns: 1fr 1fr 1fr;
}
.home-gallery1 {
  width: 100%;
  display: grid;
  padding: var(--dl-space-space-threeunits);
  grid-gap: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  grid-template-columns: 1fr 1fr 1fr;
}
.home-about-us {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.home-container4 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: space-between;
}
.home-text25 {
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text26 {
  font-size: 28;
  margin-right: var(--dl-space-space-threeunits);
}
.home-image2 {
  width: 448px;
  height: 300px;
  object-fit: cover;
  flex-shrink: 0;
}
.home-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: 100%;
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: #FEECE2;
}
.home-container5 {
  display: flex;
  margin-right: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.home-text27 {
  font-size: 3rem;
  max-width: 450px;
}
.home-text28 {
  font-size: 28px;
}
.home-btn-group {
  display: none;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.home-button3 {
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.home-button3:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.home-button4 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  border-color: transparent;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.home-button4:hover {
  border-color: var(--dl-color-gray-black);
}
.home-image3 {
  width: var(--dl-size-size-xxlarge);
  object-fit: cover;
}
@media(max-width: 1600px) {
  .home-sec1 {
    background-position: top left,center;
  }
  .home-our-missio-sec {
    height: 755px;
  }
  .home-text13 {
    font-size: 24;
  }
  .home-button2 {
    font-size: 100%;
  }
  .home-text14 {
    font-size: 32;
  }
  .home-banner1 {
    background-color: #3D405B;
  }
  .home-text15 {
    color: #ffffff;
    width: 100%;
    align-self: flex-start;
    text-align: left;
  }
  .home-text16 {
    color: #ffffff;
    width: 100%;
    font-size: 27px;
    font-family: Noto Sans Mono;
  }
  .home-about-us {
    max-width: 100%;
  }
  .home-text25 {
    font-weight: 600;
  }
  .home-text26 {
    font-size: 24;
  }
  .home-image2 {
    width: 464px;
    border-radius: 16px;
  }
  .home-text27 {
    font-size: 3rem;
  }
  .home-text28 {
    font-size: 26;
  }
  .home-btn-group {
    display: none;
    margin-top: var(--dl-space-space-unit);
    margin-bottom: 0px;
  }
  .home-image3 {
    width: 376px;
    height: 434px;
  }
}
@media(max-width: 1200px) {
  .home-our-missio-sec {
    background-color: #FEECE2;
  }
  .home-text13 {
    font-size: 20;
  }
  .home-text15 {
    font-weight: 600;
  }
  .home-text16 {
    font-size: 27px;
  }
  .home-text17 {
    font-size: 19px;
  }
  .home-text18 {
    font-size: 19px;
  }
  .home-text19 {
    font-size: 19px;
  }
  .home-text22 {
    font-size: 45;
  }
  .home-text23 {
    font-size: 45;
  }
  .home-text26 {
    font-size: 20;
  }
  .home-text28 {
    font-size: 22;
  }
  .home-image3 {
    width: 289px;
    height: 386px;
  }
}
@media(max-width: 991px) {
  .home-sec1 {
    flex-direction: column;
  }
  .home-text {
    text-align: center;
  }
  .home-text01 {
    text-align: center;
  }
  .home-our-missio-sec {
    flex-direction: column;
  }
  .home-text09 {
    max-width: 100%;
  }
  .home-text13 {
    font-size: 18;
  }
  .home-image {
    width: 80%;
  }
  .home-text14 {
    font-size: 28;
  }
  .home-banner1 {
    flex-direction: column;
  }
  .home-container2 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-text16 {
    text-align: center;
    margin-left: var(--dl-space-space-threeunits);
  }
  .home-container3 {
    justify-content: center;
  }
  .home-image1 {
    width: var(--dl-size-size-xxlarge);
    height: var(--dl-size-size-xxlarge);
  }
  .home-gallery {
    grid-template-columns: 1fr 1fr;
  }
  .home-gallery1 {
    grid-template-columns: 1fr 1fr;
  }
  .home-about-us {
    flex-direction: column;
  }
  .home-container4 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-text26 {
    font-size: 18;
    text-align: center;
    margin-left: var(--dl-space-space-threeunits);
  }
  .home-image2 {
    width: 488px;
    height: var(--dl-size-size-xxlarge);
  }
  .home-hero {
    flex-direction: column;
  }
  .home-container5 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .home-text27 {
    text-align: center;
  }
  .home-text28 {
    font-size: 18;
  }
  .home-image3 {
    width: var(--dl-size-size-xxlarge);
    height: 100%;
  }
}
@media(max-width: 767px) {
  .home-sec1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-our-missio-sec {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text09 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-text13 {
    font-size: 17;
  }
  .home-blog {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .home-container1 {
    flex: 0 0 auto;
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-banner1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text16 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .home-text22 {
    font-size: 35px;
    font-weight: 700;
  }
  .home-gallery {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-gallery1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-about-us {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text26 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .home-image2 {
    width: 352px;
    height: 204px;
  }
  .home-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-image3 {
    width: 212px;
    height: 100%;
  }
}
@media(max-width: 576px) {
  .home-sec1 {
    width: 100%;
    padding: var(--dl-space-space-twounits);
    align-self: flex-start;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-sec1-btn-group {
    flex-direction: column;
  }
  .home-button1 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .home-text14 {
    font-size: 22;
  }
  .home-banner1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-text16 {
    width: 90%;
    text-align: justify;
  }
  .home-container3 {
    align-items: center;
    flex-direction: column;
  }
  .home-image1 {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-xlarge);
  }
  .home-image2 {
    width: 100%;
  }
  .home-image3 {
    width: 65%;
    height: 100%;
  }
}
@media(max-width: 479px) {
  .home-our-missio-sec {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-blog {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-gallery {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-gallery1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-about-us {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-image2 {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-xlarge);
  }
  .home-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container5 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-btn-group {
    flex-direction: column;
  }
  .home-button4 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
}
