.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-hero {
  width: 100%;
  height: 752px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: linear-gradient(113.8deg, rgba(255, 76, 92, 0.8) 7.5%, rgba(255, 177, 70, 0.8) 94.47%),url("/design%20graphic-1500h.jpg");
  background-position: top left,center;
}
.home-text {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
}
.home-text01 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.home-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-button {
  font-size: 0.75rem;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
}
.home-button:hover {
  transform: scale(1.02);
}
.home-button1 {
  color: var(--dl-color-gray-white);
  font-size: 0.75rem;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  background-color: transparent;
}
.home-button1:hover {
  transform: scale(1.02);
}
.home-hero1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: 90%;
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-image {
  width: 25rem;
  object-fit: cover;
}
.home-container1 {
  width: 979px;
  display: flex;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
}
.home-text08 {
  font-size: 3rem;
}
.home-text09 {
  width: 100%;
  font-size: 30px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.home-banner {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: space-between;
  background-image: url('https://images.unsplash.com/photo-1485628390555-1a7bd503f9fe?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE3fHxhcmNoaXRlY3R1cmUlMjBtaW5pbWFsfGVufDB8fHx8MTYyNjE4NDA0Mg&ixlib=rb-1.2.1&w=1500');
  background-position: center;
}
.home-text13 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text14 {
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
  letter-spacing: 2px;
}
.home-text15 {
  max-width: var(--dl-size-size-maxwidth);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-features {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: 90%;
  flex-direction: column;
}
.home-text22 {
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  align-items: flex-start;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.home-features1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: 85%;
  flex-direction: column;
}
.home-text23 {
  width: 1358px;
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-separator {
  width: 100px;
  height: 2px;
  background-color: var(--dl-color-gray-500);
}
.home-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-container4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.home-image1 {
  width: 450px;
  height: 450px;
  object-fit: cover;
  flex-shrink: 0;
  margin-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-round);
  object-position: left;
}
.home-banner1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
}
.home-container5 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: space-between;
}
.home-text24 {
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text25 {
  margin-right: var(--dl-space-space-threeunits);
}
.home-container6 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-image2 {
  width: 300px;
  height: 300px;
  object-fit: cover;
  flex-shrink: 0;
}
.home-gallery {
  width: 100%;
  display: grid;
  padding: var(--dl-space-space-threeunits);
  grid-gap: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  grid-template-columns: 1fr 1fr 1fr;
}
.home-banner2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.home-container7 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: space-between;
}
.home-text31 {
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text32 {
  margin-right: var(--dl-space-space-threeunits);
}
.home-container8 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-button2 {
  font-size: 0.75rem;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-500);
}
.home-button2:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.home-image3 {
  width: 300px;
  height: 300px;
  object-fit: cover;
  flex-shrink: 0;
}
@media(max-width: 1600px) {
  .home-hero1 {
    max-width: 90%;
  }
  .home-text08 {
    font-size: 3rem;
  }
  .home-text09 {
    width: 100%;
    font-size: 30px;
    font-style: inherit;
    font-weight: 400;
  }
  .home-text11 {
    font-weight: 700;
  }
  .home-text14 {
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
  }
  .home-text23 {
    width: 100%;
    font-size: 45px;
    align-self: center;
    font-style: normal;
    text-align: center;
    font-weight: 700;
  }
  .home-text24 {
    width: 100%;
    align-self: flex-start;
    text-align: left;
  }
  .home-text25 {
    width: 100%;
    font-size: 27px;
  }
  .home-banner2 {
    max-width: 100%;
  }
  .home-text31 {
    font-weight: 600;
  }
}
@media(max-width: 1200px) {
  .home-image {
    width: 412px;
    height: 511px;
  }
  .home-container1 {
    position: relative;
  }
  .home-text09 {
    width: 100%;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
  }
  .home-text13 {
    font-size: 3rem;
  }
  .home-text14 {
    font-size: 2rem;
    text-align: left;
    font-weight: 600;
    letter-spacing: 2px;
  }
  .home-features1 {
    max-width: 90%;
  }
  .home-text23 {
    width: 100%;
  }
  .home-text24 {
    font-weight: 600;
  }
  .home-text25 {
    font-size: 27px;
  }
  .home-text26 {
    font-size: 19px;
  }
  .home-text27 {
    font-size: 19px;
  }
  .home-text28 {
    font-size: 19px;
  }
}
@media(max-width: 991px) {
  .home-hero {
    flex-direction: column;
  }
  .home-text {
    text-align: center;
  }
  .home-text01 {
    text-align: center;
  }
  .home-hero1 {
    padding: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .home-image {
    order: 2;
  }
  .home-container1 {
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-text08 {
    text-align: center;
  }
  .home-text09 {
    width: 80%;
    text-align: justify;
  }
  .home-text15 {
    width: 100%;
  }
  .home-text22 {
    align-self: center;
  }
  .home-container2 {
    grid-template-columns: 1fr 1fr;
  }
  .home-features1 {
    align-items: center;
  }
  .home-container3 {
    flex-direction: column;
  }
  .home-image1 {
    width: 300px;
    height: 300px;
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
  }
  .home-banner1 {
    flex-direction: column;
  }
  .home-container5 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-text25 {
    text-align: center;
    margin-left: var(--dl-space-space-threeunits);
  }
  .home-container6 {
    justify-content: center;
  }
  .home-image2 {
    width: var(--dl-size-size-xxlarge);
    height: var(--dl-size-size-xxlarge);
  }
  .home-gallery {
    grid-template-columns: 1fr 1fr;
  }
  .home-banner2 {
    flex-direction: column;
  }
  .home-container7 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-text32 {
    text-align: center;
    margin-left: var(--dl-space-space-threeunits);
  }
  .home-container8 {
    justify-content: center;
  }
  .home-image3 {
    width: var(--dl-size-size-xxlarge);
    height: var(--dl-size-size-xxlarge);
  }
}
@media(max-width: 767px) {
  .home-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-image {
    width: 80%;
  }
  .home-container1 {
    width: 100%;
  }
  .home-text09 {
    width: 70%;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
  }
  .home-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text15 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-features1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text23 {
    text-align: center;
  }
  .home-container3 {
    flex-direction: column;
  }
  .home-banner1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text25 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .home-gallery {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-banner2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text32 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 576px) {
  .home-hero {
    width: 100%;
    padding: var(--dl-space-space-twounits);
    align-self: flex-start;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-btn-group {
    flex-direction: column;
  }
  .home-button1 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .home-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container1 {
    width: 100%;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text08 {
    font-size: 3rem;
  }
  .home-text09 {
    width: 100%;
  }
  .home-features {
    width: 100%;
    max-width: 90%;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container2 {
    grid-gap: var(--dl-space-space-halfunit);
  }
  .home-features1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container4 {
    grid-template-columns: 1fr;
  }
  .home-image1 {
    width: 250px;
    height: 250px;
  }
  .home-banner1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-text25 {
    width: 90%;
    text-align: justify;
  }
  .home-container6 {
    align-items: center;
    flex-direction: column;
  }
  .home-image2 {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-xlarge);
  }
}
@media(max-width: 479px) {
  .home-banner {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-gallery {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-banner2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container8 {
    align-items: center;
    flex-direction: column;
  }
  .home-button2 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .home-image3 {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-xlarge);
  }
}
