.social-media-design-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.social-media-design-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: 100%;
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.social-media-design-image {
  width: 25rem;
  object-fit: cover;
}
.social-media-design-container1 {
  width: 100%;
  display: flex;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
}
.social-media-design-text {
  font-size: 48;
}
.social-media-design-text1 {
  font-size: 24px;
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.social-media-design-features {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: column;
}
.social-media-design-text3 {
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-threeunits);
}
.social-media-design-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  align-items: flex-start;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media(max-width: 1600px) {
  .social-media-design-text {
    font-size: 42;
  }
  .social-media-design-text2 {
    font-size: 20px;
  }
  .social-media-design-features {
    max-width: 100%;
  }
}
@media(max-width: 1200px) {
  .social-media-design-text {
    font-size: 36;
  }
  .social-media-design-text1 {
    font-size: 22;
  }
  .social-media-design-text2 {
    font-size: 20px;
  }
}
@media(max-width: 991px) {
  .social-media-design-hero {
    padding: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .social-media-design-image {
    order: 2;
    width: 100%;
    height: 100%;
  }
  .social-media-design-container1 {
    height: 100%;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .social-media-design-text {
    text-align: center;
  }
  .social-media-design-text1 {
    text-align: center;
  }
  .social-media-design-text3 {
    align-self: center;
  }
  .social-media-design-container2 {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 767px) {
  .social-media-design-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .social-media-design-image {
    width: 80%;
  }
  .social-media-design-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 576px) {
  .social-media-design-text {
    font-size: 27;
  }
  .social-media-design-text1 {
    font-size: 18;
  }
  .social-media-design-text2 {
    font-size: 16;
  }
}
@media(max-width: 479px) {
  .social-media-design-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .social-media-design-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .social-media-design-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .social-media-design-container2 {
    grid-gap: var(--dl-space-space-halfunit);
  }
}
