.user-interface-experience-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.user-interface-experience-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: 100%;
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.user-interface-experience-container1 {
  width: 1196px;
  height: 632px;
  display: flex;
  margin-right: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.user-interface-experience-text {
  width: 100%;
  font-size: 3rem;
  max-width: 100%;
}
.user-interface-experience-text01 {
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.user-interface-experience-container2 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.user-interface-experience-button {
  width: 40%;
  height: 158px;
  font-size: 20px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  font-style: normal;
  transition: 0.3s;
  font-family: "Roboto";
  font-weight: 700;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.user-interface-experience-button:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.user-interface-experience-button1 {
  width: 40%;
  height: 158px;
  font-size: 20px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  transition: 0.3s;
  font-family: "Roboto";
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.user-interface-experience-button1:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.user-interface-experience-text08 {
  font-style: normal;
  font-weight: 700;
}
.user-interface-experience-text09 {
  font-size: 20px;
  font-family: "Roboto";
}
.user-interface-experience-text09:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.user-interface-experience-container3 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.user-interface-experience-button2 {
  width: 40%;
  height: 158px;
  font-size: 20px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  font-style: normal;
  transition: 0.3s;
  font-family: "Roboto";
  font-weight: 700;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.user-interface-experience-button2:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.user-interface-experience-button3 {
  width: 40%;
  height: 158px;
  font-size: 20px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  transition: 0.3s;
  font-family: "Roboto";
  font-weight: bold;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.user-interface-experience-button3:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.user-interface-experience-image {
  width: 457px;
  object-fit: cover;
}
.user-interface-experience-hero1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.user-interface-experience-container4 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.user-interface-experience-text11 {
  font-size: 3rem;
}
.user-interface-experience-button4 {
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.user-interface-experience-button4:hover {
  transform: scale(1.02);
}
.user-interface-experience-image1 {
  width: 45rem;
  margin-top: var(--dl-space-space-twounits);
}
.user-interface-experience-testimonial {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: 232323;
}
.user-interface-experience-container5 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.user-interface-experience-text25 {
  color: var(--dl-color-gray-white);
}
.user-interface-experience-text28 {
  color: var(--dl-color-gray-white);
  width: 100%;
  font-size: 0.75rem;
  max-width: 100%;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.user-interface-experience-container6 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr 1fr;
}
.user-interface-experience-container7 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr 1fr;
}
.user-interface-experience-hero2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1503149779833-1de50ebe5f8a?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE2fHxzd2lzcyUyMGNoZWVzZSUyMHBsYW50fGVufDB8fHx8MTYyNTg0MTU0Mg&ixlib=rb-1.2.1&h=1200");
  background-position: center;
}
.user-interface-experience-text29 {
  color: var(--dl-color-gray-white);
  font-size: 0.75rem;
  letter-spacing: 2px;
}
.user-interface-experience-text30 {
  text-transform: uppercase;
}
.user-interface-experience-text31 {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
  max-width: 450px;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.user-interface-experience-button5 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.user-interface-experience-button5:hover {
  transform: scale(1.02);
}
.user-interface-experience-gallery {
  width: 100%;
  display: grid;
  padding: var(--dl-space-space-threeunits);
  grid-gap: var(--dl-space-space-unit);
  max-width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
}
@media(max-width: 1600px) {
  .user-interface-experience-container1 {
    width: 644px;
    padding-right: 0px;
  }
  .user-interface-experience-container2 {
    width: 100%;
    height: 100%;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .user-interface-experience-button {
    width: 40%;
    height: 194px;
    font-size: 20px;
    align-self: center;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700;
    border-width: 0px;
    margin-right: var(--dl-space-space-fourunits);
    background-color: rgb(255, 255, 255);
  }
  .user-interface-experience-button1 {
    width: 40%;
    height: 194px;
    align-self: center;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    border-width: 0px;
  }
  .user-interface-experience-text08 {
    font-size: 20px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700;
  }
  .user-interface-experience-text09 {
    width: 40%;
    height: 194px;
    align-self: center;
  }
  .user-interface-experience-container3 {
    width: 100%;
    height: 100%;
  }
  .user-interface-experience-button2 {
    width: 40%;
    height: 194px;
    font-size: 20px;
    box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
    font-style: normal;
    font-weight: 700;
    border-width: 0px;
    margin-right: var(--dl-space-space-fourunits);
  }
  .user-interface-experience-button3 {
    width: 40%;
    height: 194px;
    font-size: 20px;
    align-self: center;
    box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700;
    border-width: 0px;
  }
  .user-interface-experience-image {
    width: 40%;
  }
  .user-interface-experience-container4 {
    width: 100%;
  }
  .user-interface-experience-text11 {
    font-size: 3rem;
  }
  .user-interface-experience-text12 {
    width: 100%;
    height: 100%;
    font-size: 20px;
    line-height: 1.5;
  }
  .user-interface-experience-text13 {
    width: 850px;
    height: 121px;
  }
  .user-interface-experience-li {
    align-self: flex-start;
  }
  .user-interface-experience-text15 {
    font-size: 20px;
  }
  .user-interface-experience-li1 {
    align-self: flex-start;
  }
  .user-interface-experience-text16 {
    font-size: 20px;
  }
  .user-interface-experience-li2 {
    align-self: flex-start;
  }
  .user-interface-experience-text17 {
    font-size: 20px;
  }
  .user-interface-experience-ul {
    width: 867px;
  }
  .user-interface-experience-text18 {
    font-size: 20px;
    align-self: flex-start;
  }
  .user-interface-experience-li6 {
    align-self: flex-start;
  }
  .user-interface-experience-text19 {
    font-size: 20px;
  }
  .user-interface-experience-li7 {
    align-self: flex-start;
  }
  .user-interface-experience-text22 {
    font-size: 20px;
  }
  .user-interface-experience-li8 {
    align-self: flex-start;
  }
  .user-interface-experience-text23 {
    font-size: 20px;
  }
  .user-interface-experience-text24 {
    font-size: 20px;
    align-self: flex-start;
    margin-top: var(--dl-space-space-unit);
  }
  .user-interface-experience-text28 {
    width: 100%;
    max-width: 100%;
    align-self: center;
    text-align: center;
  }
  .user-interface-experience-container6 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .user-interface-experience-gallery {
    max-width: 100%;
  }
}
@media(max-width: 1200px) {
  .user-interface-experience-text {
    font-size: 3rem;
  }
  .user-interface-experience-text25 {
    color: var(--dl-color-gray-white);
  }
  .user-interface-experience-text28 {
    color: var(--dl-color-gray-white);
  }
}
@media(max-width: 991px) {
  .user-interface-experience-hero {
    flex-direction: column;
  }
  .user-interface-experience-container1 {
    width: 100%;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .user-interface-experience-text {
    text-align: center;
  }
  .user-interface-experience-text01 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .user-interface-experience-hero1 {
    flex-direction: column;
  }
  .user-interface-experience-container4 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .user-interface-experience-text11 {
    text-align: center;
  }
  .user-interface-experience-image1 {
    width: 80%;
  }
  .user-interface-experience-text25 {
    text-align: center;
  }
  .user-interface-experience-text28 {
    text-align: center;
  }
  .user-interface-experience-container6 {
    grid-template-columns: 1fr;
  }
  .user-interface-experience-container7 {
    grid-template-columns: 1fr;
  }
  .user-interface-experience-gallery {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 767px) {
  .user-interface-experience-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .user-interface-experience-text01 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .user-interface-experience-image {
    width: 80%;
  }
  .user-interface-experience-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .user-interface-experience-text12 {
    height: 100%;
  }
  .user-interface-experience-container5 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .user-interface-experience-hero2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .user-interface-experience-gallery {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 576px) {
  .user-interface-experience-container1 {
    width: 100%;
  }
  .user-interface-experience-text12 {
    height: 100%;
  }
  .user-interface-experience-li {
    position: relative;
  }
}
@media(max-width: 479px) {
  .user-interface-experience-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .user-interface-experience-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .user-interface-experience-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .user-interface-experience-container4 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .user-interface-experience-button4 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .user-interface-experience-container5 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .user-interface-experience-hero2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .user-interface-experience-gallery {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
