.feature-card11-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: 100%;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card11-feature-card:hover {
  transform: scale(1.02);
}
.feature-card11-text {
  font-size: 32;
  margin-bottom: var(--dl-space-space-twounits);
}
.feature-card11-image {
  width: var(--dl-size-size-xxlarge);
  height: var(--dl-size-size-xxlarge);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
}








@media(max-width: 1600px) {
  .feature-card11-text {
    font-size: 28;
  }
}
@media(max-width: 1200px) {
  .feature-card11-text {
    font-size: 24;
  }
}
@media(max-width: 991px) {
  .feature-card11-image {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-xlarge);
  }
}
