.feature-card14-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 10px 10px 10px 10px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card14-feature-card:hover {
  transform: scale(1.02);
}
.feature-card14-text {
  margin-bottom: var(--dl-space-space-twounits);
}
.feature-card14-image {
  width: var(--dl-size-size-xxlarge);
  height: var(--dl-size-size-xxlarge);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
}








@media(max-width: 1600px) {
  .feature-card14-image {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-xlarge);
  }
}
@media(max-width: 576px) {
  .feature-card14-feature-card {
    width: auto;
  }
}
