.gallery-card13-gallery-card {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery-card13-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-card13-text {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.gallery-card13-text1 {
  color: var(--dl-color-gray-500);
  align-self: flex-start;
}






@media(max-width: 767px) {
  .gallery-card13-gallery-card {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .gallery-card13-image {
    height: 10rem;
  }
}
