.gallery-card12-gallery-card {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery-card12-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-card12-text {
  font-size: 2rem;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}












@media(max-width: 767px) {
  .gallery-card12-gallery-card {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .gallery-card12-image {
    height: 10rem;
  }
}
