.header1-header {
  width: 100%;
  height: 120px;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.header1-container {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.header1-image {
  height: var(--dl-size-size-xlarge);
}
.header1-nav {
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-twounits);
  flex-direction: row;
}
.header1-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header1-burger-menu {
  display: none;
}
.header1-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.header1-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.header1-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header1-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.header1-image1 {
  height: 2rem;
}
.header1-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header1-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.header1-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.header1-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.header1-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 991px) {
  .header1-icon {
    display: flex;
  }
}
@media(max-width: 767px) {
  .header1-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .header1-nav {
    display: none;
  }
  .header1-btn-group {
    display: none;
  }
  .header1-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 576px) {
  .header1-header {
    padding: var(--dl-space-space-unit);
  }
  .header1-mobile-menu {
    padding: 16px;
  }
}
