.testimonial-card221-testimonial-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: center;
  justify-content: space-between;
}
.testimonial-card221-testimonial {
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: space-between;
}
.testimonial-card221-icon {
  width: var(--dl-size-size-small);
  flex-shrink: 0;
  margin-bottom: var(--dl-space-space-twounits);
}
.testimonial-card221-text {
  color: var(--dl-color-gray-500);
  font-size: 50px;
  font-weight: bold;
  margin-bottom: var(--dl-space-space-twounits);
}
.testimonial-card221-image {
  width: var(--dl-size-size-xlarge);
  height: var(--dl-size-size-xlarge);
  object-fit: cover;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-round);
}
.testimonial-card221-root-class-name1 {
  align-self: flex-start;
}
@media(max-width: 767px) {
  .testimonial-card221-testimonial-card {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .testimonial-card221-testimonial {
    margin-right: var(--dl-space-space-twounits);
  }
  .testimonial-card221-icon {
    height: var(--dl-size-size-small);
  }
}
@media(max-width: 576px) {
  .testimonial-card221-testimonial-card {
    max-width: 100%;
  }
  .testimonial-card221-root-class-name1 {
    max-width: 100%;
    align-self: center;
  }
}
@media(max-width: 479px) {
  .testimonial-card221-testimonial-card {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .testimonial-card221-testimonial {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .testimonial-card221-text {
    text-align: left;
  }
}
