.testimonial-card23-testimonial-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 10px;
  border-radius: 32px;
  justify-content: space-between;
}
.testimonial-card23-testimonial {
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: space-between;
}
.testimonial-card23-icon {
  width: var(--dl-size-size-small);
  flex-shrink: 0;
  margin-bottom: var(--dl-space-space-twounits);
}
.testimonial-card23-text {
  color: var(--dl-color-gray-500);
  font-size: 28;
  margin-bottom: var(--dl-space-space-twounits);
}
.testimonial-card23-image {
  width: var(--dl-size-size-xlarge);
  height: var(--dl-size-size-xlarge);
  object-fit: cover;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-round);
}
.testimonial-card23-root-class-name1 {
  align-self: flex-start;
}
@media(max-width: 1600px) {
  .testimonial-card23-testimonial-card {
    border-color: var(--dl-color-gray-black);
    border-style: solid;
    border-width: 10px;
    border-radius: 32px;
  }
  .testimonial-card23-text {
    font-size: 24;
  }
}
@media(max-width: 1200px) {
  .testimonial-card23-text {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
  }
}
@media(max-width: 991px) {
  .testimonial-card23-text {
    font-size: 20px;
  }
}
@media(max-width: 767px) {
  .testimonial-card23-testimonial-card {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .testimonial-card23-testimonial {
    margin-right: var(--dl-space-space-twounits);
  }
  .testimonial-card23-icon {
    height: var(--dl-size-size-small);
  }
}
@media(max-width: 576px) {
  .testimonial-card23-testimonial-card {
    max-width: 100%;
    align-items: stretch;
    flex-direction: column;
    justify-content: flex-start;
  }
  .testimonial-card23-image {
    margin-top: var(--dl-space-space-threeunits);
  }
  .testimonial-card23-root-class-name1 {
    max-width: 100%;
  }
}
@media(max-width: 479px) {
  .testimonial-card23-testimonial-card {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .testimonial-card23-testimonial {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .testimonial-card23-text {
    text-align: left;
  }
}
